<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 | Invalid Link</title>
    <link rel="stylesheet" href="/public/css/404.css">
</head>
<body>
    <div class="st">

        <div class="st-top">
          <div class="st-bound st-bound-full"></div>
          <p><span class="st-drop st-stranger-s">I</span><span class="st-stranger-t">N</span><span class="st-stranger-r">V</span><span class="st-stranger-a">A</span><span class="st-stranger-n">L</span><span class="st-stranger-g">I</span><span class="st-stranger-e">D</span><span class="st-drop st-stranger-r-2"> 401</span>
          </p>
          <!-- <div class="st-bound st-bound-mini st-bound-left"></div> -->
          <!-- <div class="st-bound st-bound-mini st-bound-right"></div> -->
        </div>
      
        <div class="st-bottom">
          <p><span class="st-things-t">J</span><span class="st-things-h">A</span><span class="st-things-i">N</span><span class="st-things-n">E</span><span class="st-things-g">I</span><span class="st-things-s">V</span><span class="st-things-s">E</span><span class="st-things-s">S</span></p>
        </div>
      
      </div>
      <div class="footer">
        <button onclick="location.href='/'">Home</button>
        Copyright © 2022 Kashif Raza<a href="https://github.com/kashif-raza2019/stranger-links" target="_blank" rel="noopener noreferrer"> | Github </a>
      </div>
</body>
</html>