<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stranger Links</title>
    <link rel="shortcut icon" href="/public/assets/favicon.jpg" type="image/x-icon">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- <link rel="stylesheet" href="/public/css/strangertext.css"> -->
</head>
<body>
    <div class="header">
        <!-- <div class="st">

            <div class="st-top">
              <div class="st-bound st-bound-full"></div>
              <p><span class="st-drop st-stranger-s">S</span><span class="st-stranger-t">t</span><span class="st-stranger-r">r</span><span class="st-stranger-a">a</span><span class="st-stranger-n">n</span><span class="st-stranger-g">g</span><span class="st-stranger-e">e</span><span class="st-drop st-stranger-r-2">r</span>
              </p>
              <div class="st-bound st-bound-mini st-bound-left"></div>
              <div class="st-bound st-bound-mini st-bound-right"></div>
            </div>
          
            <div class="st-bottom">
              <p><span class="st-things-t">T</span><span class="st-things-h">h</span><span class="st-things-i">i</span><span class="st-things-n">n</span><span class="st-things-g">g</span><span class="st-things-s">s</span></p>
            </div>
          
          </div> -->
          <p id="stBtn">Stranger Links</p>
          <!-- <p><button class="login-btn" onclick="location.href='/login'">Login</button></p> -->
    </div>
    <div class="form-container">
        <div class="desc">
            <p>
                URL Shortener themed with my one of the favourite webseries, Stranger Things.
            </p>
            <button type="button" class="mylinksBtn" onclick="location.href='/mylinks'">My Links</button>
        </div>
        <div class="main">
            <form name="urlShortner"  action="/link" method="post" onsubmit="return validate()">
                <input type="text" id="url" name="longUrl" placeholder="Enter link here . . . " autocomplete="url" required>
                <br>
                <input type="submit" id="shortnerBtn" value="Shorten">
            </form>
            <button type="button" class="mylinksBtn" onclick="location.href='/intro'">Play My Intro</button>
        </div>
    </div>
    <div class="footer">
        Copyright © 2022 Kashif Raza<a href="https://github.com/kashif-raza2019/stranger-links" target="_blank" rel="noopener noreferrer"> | Github </a>
    </div>
    <script src="/public/js/index.js"></script>
</body>
</html>