doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='shortcut icon' href='/public/assets/favicon.jpg' type='image/x-icon')
  link(rel='stylesheet' href='/public/css/indexpug.css')
  // <link rel="stylesheet" href="/public/css/strangertext.css">

body
    .header
        p#stBtn  Stranger Links
    .det-text 
        h4 Click to Copy URL
    .link.p(style="cursor: pointer;") #{link}
    .copied
    .footer
        button(onclick="location.href='/'") Go Back
        button(onclick="location.href='/mylinks'") My Links
        p Copyright © 2022 Kashif Raza Github: kashifraza-2019 
    script(src='/public/js/index.js')
