body, html{
    margin: 0%;
    height: 100%;
}

body{
    background-color: rgb(31, 28, 28);
    background-image: url('/public/assets/body_cover.jpg');
    /* Full height */
    height: 91%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.85;
    height: 10%;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
a{
    text-decoration: none;
    color: white;
    opacity: 0.76;
}
.form-container{
    padding-left: 10%;
    margin: 20px;
    font-family: sans-serif;
    font-size: large;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #000;
    text-shadow:-1px 1px 0 rgb(182, 13, 13),
                1px 1px 0 rgb(182, 13, 13),
                1px -1px 0 rgb(182, 13, 13),
                -1px -1px 0 rgb(182, 13, 13);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: ease-in-out;
    font-size: 4.8rem;
}
.header p{
    justify-content: space-between;
}

.login-btn{
    background-color: inherit;
    color: rgb(212, 4, 4);
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 5rem;
    margin-top: -5px;
    border: 1px solid rgb(212, 4, 4);
}

.login-btn:hover{
    background-color: rgb(212, 4, 4);
    color: rgb(219, 205, 205);
    transition: 0.7s ease-in-out;
}

@keyframes glow {
    0%{
        text-shadow: -1px 1px 0 rgb(182, 13, 13),
                    1px 1px 0 rgb(182, 13, 13),
                    1px -1px 0 rgb(182, 13, 13),
                    -1px -1px 0 rgb(182, 13, 13);
    }
    25%{
        text-shadow: -1px 1px 0 rgb(212, 85, 85),
                    1px 1px 0 rgb(212, 85, 85),
                    1px -1px 0 rgb(182, 13, 13),
                    -1px -1px 0 rgb(212, 85, 85);
    }
    50%{
        text-shadow: -1px 1px 0 rgb(182, 13, 13),
                    1px 1px 0 rgb(212, 85, 85),
                    1px -1px 0 rgb(212, 85, 85),
                    -1px -1px 0 rgb(212, 85, 85);
    }
    75%{
        text-shadow: -1px 1px 0 rgb(182, 13, 13),
                    1px 1px 0 rgb(212, 85, 85),
                    1px -1px 0 rgb(182, 13, 13),
                    -1px -1px 0 rgb(182, 13, 13);
    }
    100%{
        text-shadow: -1px 1px 0 rgb(182, 13, 13),
                    1px 1px 0 rgb(182, 13, 13),
                    1px -1px 0 rgb(182, 13, 13),
                    -1px -1px 0 rgb(182, 13, 13);
    }
    
}

.desc{
    color: #fff;
    font-size: 1.6rem;
    opacity: 0.85;
}

input[type=text]{
    width: 400px;
    font-size: medium;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: inherit;
    color:rgb(212, 85, 85);
    border: 1px solid rgb(182, 13, 13);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type="submit"]{
    width: 400px;
    font-size: larger;
    background-color: inherit;
    color: rgb(182, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(182, 13, 13);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background-color: rgb(182, 13, 13);
    color: #fff;
    border: 2px solid #131524;
    transition: .7s ease-in-out;
}

.mylinksBtn{
    width: 400px;
    font-size: larger;
    background-color: inherit;
    color: rgb(182, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(182, 13, 13);
    border-radius: 20px;
    cursor: pointer;
    outline: none;

}

.mylinksBtn:hover{
    background-color: rgb(182, 13, 13);
    color: #fff;
    border: 2px solid #131524;
    transition: .7s ease-in-out;
}

input[type="button"]{
    width: 400px;
    font-size: larger;
    background-color: inherit;
    color: rgb(182, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(182, 13, 13);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

input[type="button"]:hover{
    background-color: rgb(182, 13, 13);
    color: #fff;
    border: 2px solid #131524;
    transition: .7s ease-in-out;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(75, 13, 173);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(75, 13, 173);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(75, 13, 173);
  }

  .link{
      text-decoration: none;
      color:rgb(75, 13, 173);
      font-size: 1.6rem;
      opacity: 0.95;
      cursor: pointer;
  }

@media screen and (max-width: 600px){
    .header{
        font-size: 3.2rem;
    }
    .desc{
        font-size: 1.2rem;
    }
    .login-btn{
        font-size: 1rem;
    }
    .mylinksBtn{
        font-size: 1rem;
        width: 300px;
    }
    input[type=text]{
        width: 300px;
    }
    input[type="submit"]{
        width: 300px;
    }
    input[type="button"]{
        width: 300px;
    }   
}

@media screen and (max-width: 400px){
    .header{
        font-size: 2.4rem;
    }
    .desc{
        font-size: 1rem;
    }
    .login-btn{
        font-size: 0.8rem;
    }
    .mylinksBtn{
        font-size: 0.8rem;
        width: 200px;
    }
    input[type=text]{
        width: 200px;
    }
    input[type="submit"]{
        width: 200px;
    }
    input[type="button"]{
        width: 200px;
    }
}

@media  screen and (max-width: 320px){
    .header{
        font-size: 2.2rem;
    }
    .desc{
        font-size: 0.8rem;
    }
    .login-btn{
        font-size: 0.6rem;
    }
    .mylinksBtn{
        font-size: 0.6rem;
        width: 150px;
    }
    input[type=text]{
        width: 150px;
    }
    input[type="submit"]{
        width: 150px;
    }
    input[type="button"]{
        width: 150px;
    }
}